<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Paw Rescue</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/dog-adoption-styling.css">
        <style>
            .error-message {
                color: red;
                font-size: 15px;
            }
        </style>
    </head>
    <body onload="updateTime()">
        <%- include('header.ejs') %>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/find">Find a dog/cat</a></li>
                <li><a href="/dogcare">Dog Care</a></li>
                <li><a href="/catcare">Cat Care</a></li>
                <li><a class="active" href="/giveaway">Have a pet to give away?</a></li>
                <% if (loggedIn) { %>
                    <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="/createAccount">Create an account</a></li>
                <% } %>
                <li><a href="/contactus">Contact Us</a></li>

            </ul>
        </nav>
        </div>
        <div class="normal">
            <br><br>
            <fieldset class="create-account">

                <h2>Login Page</h2>
                <form action="/login" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit">Login</button>
                </form>

                <% if (message) { %>
                    <p class="error-message"><%= message %></p>
                <% } %>

            </fieldset>
            <p>Don't have an account? <a href="/createAccount">Create an account!</a></p>
        </div>
        <script>
            const passwordInput = document.getElementById('password');

            passwordInput.addEventListener('mouseover', function() {
                passwordInput.type = 'text';
            });

            passwordInput.addEventListener('mouseout', function() {
                passwordInput.type = 'password';
            });
        </script>
        <%- include('footer.ejs') %>
    </body>
</html>